@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-gray-500;
  }

  main {
    padding: 0px;
  }
  main > div {
    padding: 10px;
  }
  .quadro {
    color: #fff;
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    @apply bg-gray-800;
    box-shadow: 0px 0px 5px black;
  }

  .quadro > h2 {
    @apply bg-gray-800;
    border-radius: 5px;
    z-index: 999;
    display: block;
    margin: 0 auto;
    margin-top: -23px;
    margin-bottom: 5px;
    width: 140px;
    font-weight: bold;
    padding: 2.5px;
    box-shadow: 0px -1px 1px black;
  }

  .highlight {
    @apply border-b-2;
  }

  p {
    padding: 5px 0px;
  }

  main {
    overflow-x: hidden;
  }

  .personInputForm {
  }

  .personInputForm label {
    width: 100%;
    min-width: 100px;
  }

  .personInputForm label[for='homem'],
  .personInputForm label[for='mulher'] {
    width: 50%;
  }

  .personInputForm input:not([type='radio']) {
    width: 100%;
    padding-left: 5px;
    font-size: 1em;
  }

  .personInputForm input[type='radio'] {
    background: #fff;
  }

  .result h1 {
    font-size: 1.5em;
    font-weight: bold;
  }

  .result h2 {
    font-size: 1.25em;
    text-align: center;
  }

  .result p {
    margin: 2.5px;
    padding: 2.5px;
    border: 1px solid black;
  }

  /*LAYOUT.JS*/
  header a {
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 2px 5px;
    transition: box-shadow 200ms ease-out;
  }
  header a:hover {
    background: #fff1;
    box-shadow: inset 0px -2px 0px #fff;
    /* border-bottom: 2px solid #fff; */
  }

  table td,
  table th {
    padding: 7px;
  }

  table tr:nth-child(even) td {
    background: #d9d9d9;
  }
  table tr:nth-child(odd) td {
    background: #ccc;
  }
  table tr td:last-of-type {
    text-align: center;
  }

  /*BARRA RESULTADO*/
  .fundo {
    width: 100%;
    margin: 40px 0px;
    height: 40px;
    background: #f00;
    position: relative;
    color: #000;
  }
  .fundo::before {
  }

  .barra {
    position: absolute;
  }

  .fundo > * {
    position: absolute;
    height: 100%;
    background: #f00;
  }

  .dois {
    width: 69%;
    left: 6%;
    background: #ff0;
    z-index: 999;
  }

  .dois::before {
    position: absolute;
    content: '2%';
    font-weight: bold;
    bottom: 0px;
  }

  .dois::after {
    position: absolute;
    content: '25%';
    font-weight: bold;
    bottom: 0px;
    right: -32px;
  }

  .tres {
    left: 18%;
    width: 24%;
    background: #8f8;
    z-index: 999;
  }

  .tres::after {
    position: absolute;
    content: '6%';
    font-weight: bold;
    bottom: 0px;
  }
  .tres::before {
    position: absolute;
    content: 'Essencial';
    color: #fff;
    font-weight: bold;
    bottom: -20px;
    left: -55%;
  }

  .quatro {
    width: 12%;
    left: 42%;
    z-index: 999;
    background: #0f0;
  }

  .quatro::before {
    position: absolute;
    content: '14%';
    font-weight: bold;
    bottom: 0px;
  }

  .quatro::after {
    position: absolute;
    content: '18%';
    font-weight: bold;
    bottom: 0px;
    right: -30px;
  }

  .resultado {
    background: transparent;
    z-index: 999;
  }

  .resultado::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    right: -9.5px;
    top: -11px;
  }

  .Resultado {
    position: absolute;
    top: -36px;
    z-index: 999;
    right: -10px;
    top: -32px;
    font-weight: bold;
    color: #fff;
  }
}

@media (min-width: 568px) {
  main {
    @apply flex;
  }
}
